# Third-party libs and Django apps used by namesdb-editor

click
datasette
sqlite-utils
django>=4.2.0,<4.3
djangorestframework>=3.13.0,<3.14
drf-yasg>=1.21.0,<1.22
gunicorn
httpx
python-dateutil
tabulate
tqdm

git+https://github.com/denshoproject/densho-elastictools.git@v1.0.2
#-e /opt/densho-elastictools

bpython
