# Third-party libs and Django apps used by namesdb-editor

Click
django
django-rest-framework
elasticsearch>=7.0.0,<8.0.0     # NOTE: match ddrpublic version
elasticsearch-dsl>=7.0.0,<8.0.0 # NOTE: match ddrpublic version
gunicorn
python-dateutil
requests
tqdm

bpython
