# Third-party libs and Django apps used by namesdb-editor

Click
django
django-rest-framework
gunicorn
python-dateutil
requests
tabulate
tqdm

git+https://github.com/denshoproject/densho-elastictools.git

bpython
